@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-ExtraBold.eot');
  src: local('../fonts/Onest ExtraBold'), local('../fonts/Onest-ExtraBold'),
      url('../fonts/Onest-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Onest-ExtraBold.woff2') format('woff2'),
      url('../fonts/Onest-ExtraBold.woff') format('woff'),
      url('../fonts/Onest-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-Light.eot');
  src: local('../fonts/Onest Light'), local('../fonts/Onest-Light'),
      url('../fonts/Onest-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Onest-Light.woff2') format('woff2'),
      url('../fonts/Onest-Light.woff') format('woff'),
      url('../fonts/Onest-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-Medium.eot');
  src: local('../fonts/Onest Medium'), local('../fonts/Onest-Medium'),
      url('../fonts/Onest-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Onest-Medium.woff2') format('woff2'),
      url('../fonts/Onest-Medium.woff') format('woff'),
      url('../fonts/Onest-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-SemiBold.eot');
  src: local('../fonts/Onest SemiBold'), local('../fonts/Onest-SemiBold'),
      url('../fonts/Onest-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Onest-SemiBold.woff2') format('woff2'),
      url('../fonts/Onest-SemiBold.woff') format('woff'),
      url('../fonts/Onest-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-ExtraLight.eot');
  src: local('../fonts/Onest ExtraLight'), local('../fonts/Onest-ExtraLight'),
      url('../fonts/Onest-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Onest-ExtraLight.woff2') format('woff2'),
      url('../fonts/Onest-ExtraLight.woff') format('woff'),
      url('../fonts/Onest-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-Regular.eot');
  src: local('../fonts/Onest Regular'), local('../fonts/Onest-Regular'),
      url('../fonts/Onest-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Onest-Regular.woff2') format('woff2'),
      url('../fonts/Onest-Regular.woff') format('woff'),
      url('../fonts/Onest-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-Bold.eot');
  src: local('../fonts/Onest Bold'), local('../fonts/Onest-Bold'),
      url('../fonts/Onest-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Onest-Bold.woff2') format('woff2'),
      url('../fonts/Onest-Bold.woff') format('woff'),
      url('../fonts/Onest-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-Black.eot');
  src: local('../fonts/Onest Black'), local('../fonts/Onest-Black'),
      url('../fonts/Onest-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Onest-Black.woff2') format('woff2'),
      url('../fonts/Onest-Black.woff') format('woff'),
      url('../fonts/Onest-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../fonts/Onest-Thin.eot');
  src: local('../fonts/Onest Thin'), local('../fonts/Onest-Thin'),
      url('../fonts/Onest-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Onest-Thin.woff2') format('woff2'),
      url('../fonts/Onest-Thin.woff') format('woff'),
      url('../fonts/Onest-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

