.footer {
  background: #eaeaea;
  padding-top: 40px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 996px) {
      flex-wrap: wrap;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__logo {
    max-width: 200px;
    width: 100%;
  }

  &__menu {
    max-width: 150px;
    width: 100%;
  }

  &__contact {
    max-width: 275px;
    width: 100%;
  }

  &__copyright {
    max-width: 310px;
    width: 100%;
  }

  & small {
    color: $color-secondary;
    font-size: 11px;
  }

  & a {
    text-decoration: underline;
  }

  & .menu a,
  & .tel {
    text-decoration: none;
    color: $color-primary;
    font-weight: 600;

    &:hover {
      color: $color-accent-blue;
    }
  }

  & .copyright {
    font-size: 12px;
  }

  & p {
    font-size: 14px;
    margin-bottom: 16px;
  }

  & .title--2,
  & .logo,
  & .menu li {
    margin-bottom: 16px;
  }
}
