.button {
  cursor: pointer;
  padding: 0 21px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  background-color: $color-accent-blue;
  border: 1px solid $color-accent-blue;
  color: $color-white;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }

  &--accent-blue {
    background-color: $color-accent-blue;
    border: 1px solid $color-accent-blue;
    color: $color-primary;
  }

  &--accent-dark-blue {
    background-color: $color-accent-dark-blue;
    border: 1px solid $color-accent-dark-blue;
    color: $color-white;
  }

  &--secondary {
    background-color: $color-secondary-light-grey;
    border: 1px solid $color-secondary-light-grey;
    color: $color-secondary;
  }

  &--disabled {
    background-color: transparent;
    border: 1px solid $color-secondary-light-grey;
    color: $color-secondary-light-grey;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid transparent;
    color: $color-primary;
  }

  &--sm {
    padding: 0 21px;
    height: 24px;
    font-size: 12px;
  }

  &--icon {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
