.hero {
  height: calc(80vh - 90px);
  background-image: url("../images/hero-bg.png");
  background-repeat: repeat;

  & > .container {
    height: 100%;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 64px;
  }

  &__search {
    max-width: 588px;
    width: 100%;
    margin-inline: auto;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}
