:root {
  --color-primary: #282828;
  --color-secondary: #898989;
  --color-secondary-light-grey: rgba(40, 40, 40, 0.1);
  --color-secondary-middle-grey: rgba(40, 40, 40, 0.3);

  --color-white: #ffffff;

  --gradient: linear-gradient(90deg, #002b75 0%, #0075f8 100%);

  --color-accent-blue: #0075f8;
  --color-accent-dark-blue: #002b75;
}

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-secondary-light-grey: var(--color-secondary-light-grey);
$color-secondary-middle-grey: var(--color-secondary-middle-grey);

$color-white: var(--color-white);

$gradient: var(--gradient);

$color-accent-blue: var(--color-accent-blue);
$color-accent-dark-blue: var(--color-accent-dark-blue);
