.catalog {
  &__title {
    margin-bottom: 32px;
    font-weight: 500;
  }

  &__search {
    padding: 10px 0;
    border: 0.5px solid $color-secondary-light-grey;
    margin-bottom: 32px;

    & .search {
      max-width: 588px;
      width: 100%;
      margin-inline: auto;

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;

    & > * {
      flex-grow: 1;
    }

    & .catalog-smart-filter {
      max-width: 310px;
    }
  }
}

.catalog-section-header {
  display: flex;
  padding: 24.5px 0;
  border-radius: 4px 4px 0px 0px;
  background: #eaeff9;
  width: 100%;
  justify-content: space-between;

  &__item {
    font-size: 14px;
  }
}

.catalog-section-body {
  display: flex;
  flex-direction: column;
}

.catalog-section-body-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24.5px 0;
  font-size: 14px;
}

.catalog-section-header,
.catalog-section-body-item {
  text-align: center;

  & > *:nth-child(1) {
    width: 18.03%;
  }
  & > *:nth-child(2) {
    width: 8.47%;
  }
  & > *:nth-child(3) {
    width: 7.43%;
  }
  & > *:nth-child(4) {
    width: 7.95%;
  }
  & > *:nth-child(5) {
    width: 3.18%;
  }
  & > *:nth-child(6) {
    width: 7.43%;
  }
  & > *:nth-child(7) {
    width: 7.43%;
  }
  & > *:nth-child(8) {
    width: 15.92%;
  }
  & > *:nth-child(9) {
    width: 6.36%;
  }
  & > *:nth-child(10) {
    width: 9.54%;
  }
}

.catalog-smart-filter {
  position: sticky;
  top: 0;
  left: 0;
  padding: 16px 12px;
  border-radius: 4px;
  border: 1px solid #eaeff9;

  & .filter {
    & .input {
      margin-bottom: 12px;
    }

    & .catalog-smart-filter-checkboxes {
      margin-bottom: 8px;
    }

    & span {
      font-size: 14px;
    }
  }

  & .input {
    height: 40px;
    width: 100%;
    font-weight: 300;
  }

  & .select {
    height: 32px;
  }

  & .paragraph {
    margin-bottom: 8px;
  }

  & .form-group {
    gap: 12px;
  }

  & .form-check {
    margin-bottom: 12px;
    font-weight: 300;
  }

  &__row {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #eaeff9;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 12px;
    }
  }

  &-active {
    &__items {
      display: flex;
      flew-wrap: wrap;
      gap: 12px;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 2px 4px;
      border-radius: 4px;
      border: 1px solid #eaeaea;
      cursor: pointer;
      font-size: 13px;
      font-weight: 300;

      &:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M1 1L9 9M9 1L1 9' stroke='%23282828' stroke-opacity='0.3' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        display: inline-block;
      }
    }
  }
}
